body {
  margin: 0;
  font-family: Arial;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 100%;
}

.page {
  border: thick solid black;
  box-sizing: border-box;
  width: 28em;
  height: 65em;
  padding: 1em;
  display: grid;

  --first-page-factor: 16%;
  --second-page-factor: 4%;
}

.page:first-child {
  transform: rotate(-90deg) translateX(calc(73% - var(--first-page-factor)));
}

.page:nth-child(2) {
  transform: rotate(-90deg) translateX(calc(206% - var(--first-page-factor)));
}

.page:nth-child(3) {
  transform: rotate(-90deg) translateX(calc(340% - var(--first-page-factor)));
}

.page:nth-child(4) {
  transform: rotate(-90deg) translateX(calc(430% + var(--second-page-factor)));
}

.page:nth-child(5) {
  transform: rotate(-90deg) translateX(calc(565% + var(--second-page-factor)));
}

.page:nth-child(6) {
  transform: rotate(-90deg) translateX(calc(700% + var(--second-page-factor)));
}

.page--3-rows {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page--padding {
  padding: .5cm 1cm;
}

.page__header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  text-align: center;
  font-size: .6875em;
  gap: 1em;
}

.page__header-img {
  width: 8em;
}

.page__photo-container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: .5em;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.page__photo-placeholder {
  display: grid;
  place-content: center;
  justify-content: stretch;
  border: medium solid black;
  height: 12.5em;
  box-sizing: border-box;
  margin: auto;
  aspect-ratio: 1 / 1;
}

.page__photo-placeholder img {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page__title {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: .5em;
  font-size: 1.25em;
}

.page__student-data {
  border: thin solid black;
  padding: 1em;
  max-height: 276px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.page__student-row {
  display: block;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.page__student-property {
  font-weight: bold;
  font-size: 1em;
}

.page__student-value {
  font-family: 'Comic Sans MS', cursive;
  font-size: 1.25em;
  line-break: anywhere;
  word-break: break-all;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.page--3-rows .page__descriptions {
  display: grid;
  grid-template-rows: 2em 2em 4em repeat(3, 125px);
  place-content: start;
  gap: 1em;
}

.page__student-value--fixed {
  display: block;
}

.page__signatures {
  display: grid;
  grid-template-columns: 40% 40%;
  text-align: center;
  font-weight: bold;
  justify-content: space-between;
  grid-row-gap: 2em;
}

.page__signatures hr {
  border: thin solid black;
}

.page__cite {
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.page__lopna-img {
  width: 50%;
  display: block;
  margin: auto;
}

.page__lopna-title {
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
}

.page__lopna-footer {
  font-size: 1.75em;
  text-align: center;
}

.page__recomendations {
  font-weight: bold;
  line-height: 1.25;
  font-size: 1.25em;
}

.page__recomendations-img {
  width: 50%;
  display: block;
}

.page__recomendations-img--right {
  margin-left: auto;
}
